/* Base */
body {
  line-height: 1.7;
  color: #cfcfd1;
  font-weight: 300;
  font-size: 2rem;
  background: #232531;
  font-family: sans-serif; }

#current_temp {
  color : red;
  font-style: bold;
}

h1 {
  font-family: sans-serif;
  color:orange;}

  .footer {
    height:1rem;
    font-size:1rem;
    text-align: center
  }

